* {
    margin: 0;
    padding: 0;
    
} 
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 173px;
    height: 146px;
    background: linear-gradient(90deg, #D10038, #6600CC);
}

.logo{

  width: 200px;
  height: 175px;
  flex-shrink: 0;

}
.menu-icon {
  display: none;

}
.botonNavegacion{

  color: #0FF;
text-align: center;
font-family: Orbitron;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
margin-top: 50px;
height: 19px;

}

.menuNavegacion{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
}

h1{
  color: #FFA500;
text-align: center;
font-family: Rajdhani;
font-size: 31px;
font-style: normal;
font-weight: 700;
line-height: normal;


margin-top: 20px;
margin-bottom: 20px;
}

body{

  background: #000;
}

footer{

  height: 150px;
background: linear-gradient(90deg, #890025 0%, #230009 100%);
margin-top: 48px;


}
.contenedorTextoFooter{

  
  display: flex;
  justify-content: center;
  height: 25px;
  padding-top: 40px;
}

.textoFooter{
  color: #FFF;
text-align: center;
font-family: Orbitron;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;

}

p{color: #FFF;
text-align: right;
font-family: Roboto;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 610px;
}

.botonNavegacion{
color: #0FF;
text-align: center;
font-family: Orbitron;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
margin-top: 50px;
height: 19px;

}

.menuNavegacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
}

main{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.texto{

  text-align: center;
  align-content: center;
  background-color:#1E1E1E;
  border-radius: 30px;
}